#colophon .widget-column, .footer-widget-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    .widget-column .widget {
        margin: 0;
        width: 100%;
    }
    h2.widget-title {
        margin-top: 0;
    }
    .widget_media_image {
        width: 100%;
    }

}