.site-header {
    background-color: colour(primary);
    background-image: url(files/2020/02/pattern.png);
    background-repeat: repeat-x;
    background-blend-mode: multiply;
    background-color: colour(primary);
    background-size: auto 20px;
    padding: 0;
    .site-branding-container {
        padding-top: 2.5rem;
    }
    .site-branding {
        display: flex;
        align-items: baseline;
        padding: 22px 1rem 1.5rem 1rem;
        .site-logo .custom-logo-link {
            margin: 1rem auto;
            width: 45px;
            height: 45px;
            @include respond-to(pond) {
                margin: auto;
             }
        }
    }
    .site-title {
        // stacked words on mobile, slightly smaller.
        margin: 0;
        margin-top: -6px;
        display: block;
        
        @include respond-to(pond) {
            width: 65%;
            margin-left: -15px;
         }
    }
    .site-title a {
        font-family: museo-slab, serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 35px;
        
    }
    .site-description {
        display: none;
    }
    .site-logo .custom-logo-link {
        border-radius: 0px;
    }
    #site-navigation {
        text-align: center;
        
        @include respond-to(pond) {
            width: 35%;
            text-align: right;
         }
        .menu-main-container {
            display: inline-block;
            // margin-top: 22px;
        }
        ul.main-menu > li > a {
            color: #fff;
            border-bottom: 1px solid transparent;
            transition: 0.5s ease all;
            &:hover {
                border-bottom: 1px solid #fff;
            }
        }
        .main-menu-more .svg-icon {
            path:nth-child(2) {
                fill: #ffffff;
            }
        }
    }
}
.site-header.featured-image {
    // background-color: colour(primary);
    // background-image: url(files/2020/02/pattern.png);
    background-repeat: repeat-x;
    background-blend-mode: multiply;
    background-color: colour(primary);
    background-size: auto 20px;
    min-height: auto;
    padding-bottom: 0;
    .site-branding-container {
        // padding-bottom: 3rem;
    }
    .custom-logo-link {
        background: transparent;
    }
    .site-featured-image {
        padding: 2rem 1rem 1rem 1rem;
        background: #fff;
        .post-thumbnail {
            @include respond-to(pond) {
                margin-left: calc(10% + 47px);
             }
            
        }
    }
    
}