@import "vars";
@import "mixins";
@import "functions";
@import "twentynineteen";


:root {
    --base-font-size: 18px;
    --base-font: 'Quattrocento Sans', sans-serif;
    @include respond-to(pond) {
        --base-font-size: 18px;
    }
    @include respond-to(lake) {

    }
}

html, body, p, input, a {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: var(--base-font-size);
}

@import "typography";
@import "header";

.wordcamp-post-list.has-layout-grid {
    align-items: center;
}

.entry, .entry .entry-content {
    h1,h2,h3,h4,h5,h6,p,a {
        max-width: $content-w;
    }
    .pad-1 {
        padding: 1rem;
    }
    .pad-2 {
        padding: 2rem;
    }
    .pad-3 {
        padding: 3rem;
    }
    .wp-block-button a {
        padding: 0.5rem 1.5rem;
        border-radius: 0px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
    }

    .wp-block-button.bg-primary a {
        &:hover {
            background-color: colour(primarydark);
        }
    }

    .wp-block-button.bg-secondary a {
        color: colour(detail);
        &:hover {
            background-color: colour(light);
        }
    }

    .plaid-border {
        background-image: url(files/2020/02/pattern.png);
        background-repeat:  repeat-x;
        background-blend-mode: multiply;
        background-size: auto 20px;
        background-position: top;
    }
    .wp-block-cover {
        align-items: flex-start;
        padding: 0;
        min-height: auto;
        max-width: $content-w;
        .wp-block-cover__inner-container {
            margin: 1.5rem 0;
        }
    }
    .wp-block-cover.cta-tertiary, .wp-block-cover.cta-teritary  {
        background-color: colour(tertiary) !important;
        color: #fff;
        background-blend-mode: color-burn;
        .wp-block-button {
            @extend .bg-primary;
        }
    }

    .wp-block-cover.cta-highlighter {
        background-color: colour(highlighter) !important;
        color: #fff;
        &:before {
            background-color: colour(highlighter) !important;
        }
        h2,h3,h4,h4 {
            color: colour(secondary);
        }
        .wp-block-button {
            @extend .bg-secondary;
            a {
                color: colour(detail);
            }
        }
    }
    .wp-block-separator {
        max-width: $content-w;
        &:before {
            background: url(files/2020/02/separator.png) no-repeat center;
            content: '' !important;
        }
    }












}

@import "sponsor";
@import "footer";