@import "vars";
@import "mixins";
@import "functions";


:root {
    --base-font-size: 18px;
    --base-font: 'Quattrocento Sans', sans-serif;
    @include respond-to(pond) {
        // --base-font-size: 15px/
    }
    @include respond-to(lake) {
        // --base-font-size: 16px;
    }
}

html, body, p, input, a {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: var(--base-font-size);
}

.wordcamp-post-list.has-layout-grid {
    align-items: center;
}

h1 {
    font-family: macho, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: colour(highlighter);
}

h2 {
    font-family: macho, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 22px;
    line-height: 1.2;
    color: colour(highlighter);
    
}

h3 {
    font-family: macho, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 19px;
    line-height: 1.2;
    color: colour(highlighter);
}

h4 {
    font-family: macho, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: colour(highlighter);
}

a {
    transition: 0.5s ease all;
    color: colour(primary);
    &:visited {
        color: colour(primarydark);
    }
}

.entry .entry-content {
    .wp-block-button a {
        padding: 1rem 1.2rem;
        border-radius: 0px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .wp-block-button.bg-primary a {
        &:hover {
            background-color: colour(primarydark);
        }
    }

    .wp-block-button.bg-secondary a {
        color: colour(detail);
        &:hover {
            background-color: colour(light);
        }
    }
}
